
body {
    background-color: #d5def5;
    /*background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2));*/
    padding-bottom: 150px;

}

#adminSearchButton {
    display: none;
}


#OptionTable {
    border: none;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 100px;
}


.InventoryClass {
    border: none;
    width: 100px;
    height: 60px;
}

.indented {
    padding-left: 20px;
}

.left-align {
    text-align: left;
}


.sort-icon {
 display: inline-block;
 margin-left: 5px;
 vertical-align: middle;
}

.tab {
    padding: 10px 20px;
    background-color: #ebebeb;
    border: 1px solid #ccc;
    border-bottom: none;
    border-radius: 12px 12px 0 0;
    /*cursor: pointer;*/
    font-weight: bold;
}

.tabHead {
    border-collapse: collapse;
}


.OptionsClass {
    padding: 8px;
}

.main-button:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px); /
}

.main-icon {
    background-color: inherit;

    width: 120px;
    height: 120px;
}
.inventory-icon {
    background-color: inherit;

    width: 120px;
    height: 90px;
}

.label {
    display: block;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.main-button {
    background-color: inherit;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    /*cursor: pointer;*/

    display: block;
    align-items: center;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.main-button:hover {
    background-color: #f5f5f5;
}

.main-button .label {
    margin-right: 8px;
}

.main-button img {
    width: 48px;
    height: 48px;
}


input[name="LimitResults"] {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
}


.toggle-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: hsl(0, 0%, 95%);
    border: none;
    cursor: pointer;
    padding: 5px;
    font-size: 20px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.toggle-btn:hover {
    background-color: #ccc;
}


.sidebar {
    position: absolute;
    top: 120px;
    left: 0;
    height: 100vh;
    width: 200px;
    background-color: #c1cbe6;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: left 0.3s ease;
}

.sidebar a:hover {
    transform: translateY(-3px); /* Adjust the value to control the amount of rise */
}

.sidebar ul {
    list-style-type: none;
    padding: 10px;
    font-size: 12px;
}

.sidebar h3 {
    margin-top: 0;
    font-size: 14px;
}

.sidebar a {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: #333;
}

.sidebar.open {
    left: -200px;
}
