

#BasicMaskTable {
    width: 100%;
    border-collapse: collapse;
}

.tabHead {
    background-color: #f5f5f5;
}

#headerRow {
    font-weight: bold;
}

#BasicMaskTable th,
#BasicMaskTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#paginationContainer {
    margin-top: 10px;
}

#paginationContainer button {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 5px 10px;
    cursor: pointer;
}

#paginationContainer span {
    margin: 0 10px;
    font-weight: bold;
}

/* Search bar styling */
#searchBar {
    margin-bottom: 10px;
}

#searchBar input[type="text"] {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.button {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 8px 16px;
    cursor: pointer;
}

.button:hover {
    background-color: #ddd;
}

/* Table Dropdown */
.dropdown {
    position: absolute;
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 8px 0;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #bcf3d7;
}

.dropdown-container:hover .dropdown {
    display: block;
}



#BasicMaskTable tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

#BasicMaskTable tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

#BasicMaskTable td {
    text-align: center;
}

/* Alternate light and dark rows */
#maskDesignTable tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

#maskDesignTable tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

#maskDesignTable td {
    text-align: center;
}

